nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    color: #0f0f0f;
    background-color: rgba(217, 228, 223, 0.71);
    box-shadow: 0 10px 5px;

}

nav a{
    margin-right: 5px;
}